<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botchat-ads | Login</title>
</head>
<body>
    <h1>Login</h1>
    {% for user in users %}
    <ul>
        <li>{{ user['name'] }}</li>
        <li>{{ user['email'] }}</li>
    </ul>
{% endfor %}
    <h2>Register</h2>
    <form action="/register" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name">
        <label for="email">Email</label>
        <input type="email" name="email" id="" placeholder="Login / email">
        <label for="password">Password</label>
        <input type="password" name="password" id="" placeholder="password">
        <button type="submit">Subscribe</button>
    </form>
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="" placeholder="Login / email">
        <label for="password">Password</label>
        <input type="password" name="password" id="" placeholder="password">
        <button type="submit">login</button>
    </form>
</body>
</html>